      <h3 class="section-header">Genel Yapılandırma</h3>
      <label>Prefix</label>
      <input class="prefix" id="prefix" type="text" value='<%= db.get(`prefix_${guild.id}`) || config.bot.prefix %>'>
      <button class="btn">Öneki Kaydet</button>
