<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
  <%- include('./partials/Navbar', { bot, user }); %>
  <div class="section-container">
    <section id="home">
    <img src="images/logo.png" class="bot-icon">
    <h3 class="section-header">Levian</h3>
    <p class="section-description">Sunuculara Lazım Olucak Captcha Koruma Botudur</p>
    <div class="btns">
      <a href="https://discord.gg/3Ke3XY3mJJ"><button><i class="fab fa-discord"></i> Davet</button></a> <a href="https://discord.gg/3Ke3XY3mJJ"><button><i class="fab fa-discord"></i> Destek</button></a>
    </div>
    </section>
    </div>
    <footer>
      <span>Yardım İçin <a href="https://discord.gg/3Ke3XY3mJJ">Tıklayınız</a> | Levian #2022 </span>
    </footer>
  <script src="js/script.js"></script>
  </body>
</html>
